.d-flex {
    display: flex !important;
}
.flex-row {
    flex-direction: row !important;
}
.flex-column{
    flex-direction: column !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-end {
    align-items: flex-end !important
}
.align-items-center {
    align-items: center !important
}

.justify-content-start {
    justify-content: flex-start!important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}

.p-0 {
  padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}

.p-1 {
    padding: .25rem !important;
}
.pt-1 {
    padding-top: .25rem !important;
}
.pl-1 {
    padding-left: .25rem !important;
}
.pr-1 {
    padding-right: .25rem !important;
}
.pb-1 {
    padding-bottom: .25rem !important;
}

.p-2 {
    padding: .5rem !important;
}
.pt-2 {
    padding-top: .5rem !important;
}
.pl-2 {
    padding-left: .5rem !important;
}
.pr-2 {
    padding-right: .5rem !important;
}
.pb-2 {
    padding-bottom: .5rem !important;
}

.p-4 {
    padding: 1rem !important;
}
.pt-4 {
    padding-top: 1rem !important;
}
.pl-4 {
    padding-left: 1rem !important;
}
.pr-4 {
    padding-right: 1rem !important;
}
.pb-4 {
    padding-bottom: 1rem !important;
}

.m-2 {
    margin: .5rem !important;
}
.mt-2 {
    margin-top: .5rem !important;
}
.ml-2 {
    margin-left: .5rem !important;
}
.mr-2 {
    margin-right: .5rem !important;
}
.mb-2 {
    margin-bottom: .5rem !important;
}

.m-4 {
    margin: 1rem !important;
}
.mt-4 {
    margin-top: 1rem !important;
}
.ml-4 {
    margin-left: 1rem !important;
}
.mr-4 {
    margin-right: 1rem !important;
}
.mb-4 {
    margin-bottom: 1rem !important;
}

.k-background {
    background: var(--kcolorscheme-background);
    color: var(--kcolorscheme-text);
}

.k-positiv-background {
    background: var(--kcolorscheme-positive-background);
    color: var(--kcolorscheme-positive-text);
}

.k-negative-background {
    background: var(--kcolorscheme-negative-background);
    color: var(--kcolorscheme-negative-text);
}


.k-active-background {
    background: var(--kcolorscheme-active-background);
    color: var(--kcolorscheme-active-text);
}

.k-alternate-background {
    /*background: color-mix(in oklab, var(--kcolorscheme-background), black 5%);*/
    background: color-mix(in oklab, var(--kcolorscheme-background), var(--kcolorscheme-text-disabled) 5%);
    color: color-mix(in oklab, var(-kcolorscheme-text), black 5%);
}


.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-nowrap {
    white-space: nowrap !important;
}
.text-wrap {
    white-space: normal !important;
}

.img-thumbnail {
    padding: .25rem;
    max-width: 100%;
    height:auto;
}

.text-break {
    word-wrap: break-word!important;
    word-break: break-word!important;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.background-blur {
    backdrop-filter: blur(25px);
}
