[Desktop Entry]
Author=Stefan Weinmann
AuthorEmail=stefan.weinmann@w-project.de
Description=A Modern E-Mail Header theme for Kmail
FileName=header.html
Name=Modern Mail Header
ThemeVersion=1.0
